<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/header.css">
    <title>OBA</title>
  </head>
  <body> 
    <header>
      <div class="obaLogo"> <a href="https://www.oba.nl"><img src="./img/oba-logo.png" alt="" width="200px"></a></div>
      <div class="links"> <ul>
       <li>
          <a href="https://www.oba.nl/over-ons/werken-bij-de-oba.html">Vacatures</a>
       </li>
       <span id="verticalLine"></span>
       <li>
          <a href="https://www.oba.nl/over-ons.html">Over ons</a>
       </li>
       <span id="verticalLine"></span>
       <li>
          <a href="https://iguana.oba.nl/iguana/www.main.cls?theme=OBA&surl=useractivities&lang=dut">Inloggen</a>
       </li>
       <span id="verticalLine"></span>
       <li>
          <a href="https://www.oba.nl/english.html">English</a>
       </li>
       </ul>
      </div>
      <nav class="navbar">
        <!--hidden checkbox to serve as the reciever. because we want to use its :checked selector-->
        <input type="checkbox">
        <!--Span to act as a hamburger-->
        <span></span>
        <span></span>
        <span></span>
          <ul id="menu">
              <!---creating the navbar -->
              <li>
                <a href="https://www.oba.nl/activiteiten.html">Agenda</a>
              </li>
              <li>
                <a href="https://www.oba.nl/collectie.html">collectie</a>
              </li>
              <li>
                <a href="https://www.oba.nl/jeugd.html">jeugd</a>
              </li>
              <li>
                <a href="https://www.oba.nl/OBA-helpt.html">oba helpt</a>
              </li>
              <li>
                <a href="https://www.oba.nl/leren/oba-school.html">educatie</a>
              </li>
              <li>
                <a href="https://www.oba.nl/service.html">klantenservice</a>
              </li>
              <li>
                <a href="https://www.oba.nl/vestigingen.html">Vestigingen</a>
              </li>
            </ul>
            <input type="text" placeholder="search">
            <button>Zoek</button>
      </nav>
  </header>

    </header>
    