<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squadpage</title>
  </head>
  <body> 
    <header>
      <nav>
        <div class="obalogo"><a href=""><img src="/public/img/oba-logo.png" alt=""></a></div>
        <ul>
          <li>
            <a href="https://www.oba.nl/activiteiten.html">Agenda</a>
          </li>
          <li>
            <a href="https://www.oba.nl/collectie.html">collectie</a>
          </li>
          <li>
            <a href="https://www.oba.nl/jeugd.html">jeugd</a>
          </li>
          <li>
            <a href="https://www.oba.nl/OBA-helpt.html">oba helpt</a>
          </li>
          <li>
            <a href="https://www.oba.nl/leren/oba-school.html">educatie</a>
          </li>
          <li>
            <a href="https://www.oba.nl/service.html">klantenservice</a>
          </li>
          <li>
            <a href="https://www.oba.nl/vestigingen.html">Vestigingen</a>
          </li>
        </ul>
        <input type="text" placeholder="search">
      </nav>

    </header>
    