<%- include('./partials/head') %>


  <body>
    
    <!--Carousel region-->

    <section class="carousel">

      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" checked />
      <input type="radio" name="position" />
      <input type="radio" name="position" />

      <main id="carousel">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"> </div>
      </main>

    </section>
   <!-- End Carousel region-->

   <!--Show items region-->
   <!--books only-->
   <section class="containerItem_book" id="book">
    <a href="">meer ></a>
    <!--We would only want up to 9 items for this container-->
    <% for (let i = 0; i < 9; i++) { %>

   </section>

   <!--activities only-->
   <section class="containerItem_activity" id="activity">
    <a href="">meer ></a>
    <% for (let i = 0; i < 9; i++) { %>

   </section>

   <!--CD only-->
   <section class="conatainerItem_cd" id="cd">
    <a href="">meer ></a>
    <% for (let i = 0; i < 9; i++) { %>

   </section>


  </body>

<%- include('partials/foot') %>