/*Carousel region*/
.itemCarouselContainer {
    /* Set the body to a fixed height, grid layout, and center alignment */
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.carousel#item{
         /* Set the carousel container to a fixed width, height, and grid area */
         grid-row: 1 / 2;
         grid-column: 1 / 8;
         width: 100vw;
         height: 500px;
         display: flex;
         align-items: center;
         justify-content: center;
         overflow: hidden;
         transform-style: preserve-3d;
         perspective: 600px;
         --items: 5;
         --middle: 3;
         --position: 1;
         pointer-events: none;
}

.carouselContainer_Item{
          /* Set the carousel items to absolute position, width, height, and transition */
          position: absolute;
          width: 300px;
          height: 400px;
          background-color: coral;
          --r: calc(var(--position) - var(--offset));
          --abs: max(calc(var(--r) * -1), var(--r));
          transition: all 0.25s linear;
          transform: rotateY(calc(-10deg * var(--r)))
            translateX(calc(-300px * var(--r)));
          z-index: calc((var(--position) - var(--abs)));
}

/*Carousel region*/